<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>ユーザ登録</h1>
<form th:action="@{/exam04/create}" th:object="${userForm}" method="post">
<div th:errors="*{name}"></div>
名前: <input type="text" name="name" th:field="*{name}"><br>
<div th:errors="*{age}"></div>
年齢: <input type="text" name="age" th:field="*{age}"><br>
コメント: <br>
<div th:errors="*{comment}"></div>
<textarea name="comment" rows="10" cols="30"th:field="*{comment}"></textarea>
<br>
<button>登録</button>
</form>
</body>
</html>